body {
    font-weight: 400;
    /* Dica: A propriedade font-family deve conter vários nomes de fontes para garantir a máxima compatibilidade entre navegadores
    Comece com a fonte desejada e termine com uma família genérica
    (para permitir que o navegador escolha uma fonte semelhante na família genérica, se não houver outras fontes disponíveis).  */
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;  /* Unidade absoluta */
    line-height: 2.2em; /* 2.2em; Unidade relativa ao tamanho da fonte. 2.2 * 15 = 33px */
    /*
    Unidades relativas são melhores do que absolutas pois se adaptam ao tamanho dos dispositivos
    Outras unidades em https://www.w3schools.com/cssref/css_units.asp
    Também é possível usar tamanhos diferentes para cada dispositivo, como veremos mais para frente
     */
    color: #818181;
    /* Outra forma de escrever */
    margin: 0px;
}

header{
    background-color: #f4511e;
    text-align: center;
    padding-bottom: 50px;
}

header p{
    color: #ffffff;
}

nav {
    font-size: 12px;
    letter-spacing: 4px;
    height: 10px;
    background-color: #f4511e;
    padding-right: 40px;
    height: 50px;
}

nav ul{
    list-style: none;
    float: right;
}

nav li{
    float: left;
}

nav li a{
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-size: 63px;
    color: #ffffff;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600; /* Vai de 100 a 900, onde 400 é igual a normal e 700 é negrito */
}

section, footer{
    margin: 40px;
}