body {
    font-weight: 400;
    /* Dica: A propriedade font-family deve conter vários nomes de fontes para garantir a máxima compatibilidade entre navegadores
    Comece com a fonte desejada e termine com uma família genérica
    (para permitir que o navegador escolha uma fonte semelhante na família genérica, se não houver outras fontes disponíveis).  */
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;  /* Unidade absoluta */
    line-height: 2.2em; /* 2.2em; Unidade relativa ao tamanho da fonte. 2.2 * 15 = 33px */
    /*
    Unidades relativas são melhores do que absolutas pois se adaptam ao tamanho dos dispositivos
    Outras unidades em https://www.w3schools.com/cssref/css_units.asp
    Também é possível usar tamanhos diferentes para cada dispositivo, como veremos mais para frente
     */
    color: #818181;
    /* Outra forma de escrever */
    margin: 0px;
}

header{
    background-color: #f4511e;
    text-align: center;
    padding-bottom: 50px;
}

header p{
    color: #ffffff;
}

h1 {
    font-size: 63px;
    color: #ffffff;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600; /* Vai de 100 a 900, onde 400 é igual a normal e 700 é negrito */
}

section, footer{
    margin: 40px;
}

table{
    width: 100%;
}

table td{
    color: #303030;
    padding: 5px;
}
/*
Uma pseudo-classe é usada para definir um estado especial de um elemento. Por exemplo:
Estilizar um elemento quando um usuário passa o mouse sobre ele
Estilize um elemento quando ele estiver em foco
Nestes casos, uma linha quando ela for par e uma linha quando ela for ímpar
*/
tr:nth-child(even){
    background: #e9e9e9;
}

tr:nth-child(odd){
    background: #bdbdbd;
}

thead th{
    background: #f4511e !important;
    color: #ffffff !important;
}

.videos{
    text-align: center;
}