
header p{
    color: #ffffff;
}

h1 {
    font-size: 63px;
    color: #ffffff;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600; /* Vai de 100 a 900, onde 400 é igual a normal e 700 é negrito */
}

.videos{
    text-align: center;
}